html {
    height: 100%;
}

body {
    --fontcolor: Lavender;
    --textshadow1: purple;
    --textshadow2: cyan;
    --theme1: cyan;
    --theme2: rebeccapurple;
    height: 100%;
    margin: 0;
    display: grid;
    place-content: center;
    color: var(--fontcolor);
    font-size: 2rem;
    font-family: helvetica, sans-serif;
    text-shadow: 0 2px 30px var(--textshadow1), 0 -2px 130px var(--textshadow2);
    background: conic-gradient(
        from 90deg at bottom left,
        var(--theme1),
        var(--theme2)
    );
}

@media (prefers-color-scheme: dark) {
    body {
        --textshadow1: darkslateblue;
        --textshadow2: darkcyan;
        --theme1: darkcyan;
        --theme2: darkslateblue;
    }
}
