:root {
    --base-color: #000;
    --base-fontsize: 16px;
    --base-fontfamily: arial;
}

body {
    font-family: arial, 'sans-serif';
    font-size: var(--base-fontsize);
    /*text-transform: uppercase;*/
}

body {
    position: relative;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Akkurat",Helvetica,Arial,sans-serif;
    font-weight: normal;
    cursor: default;
    font-style: normal;
    line-height: 1;
    background: #fff;
}

a:hover {
    cursor: pointer
}

a:focus {
    outline: none;
    color: red;
}
